@charset "UTF-8";
/*
===========================================================
Todo ================= VARIABLES CSS ====================== 
===========================================================
*/
:root {
  --header-height: 5rem;
  /* ========== Colors ========== */
  /*
  Hsl 
  hsl(33, 93%, 54%);
  1 => Color <=> هي درجة على عجلة الألوان من 0 إلى 360. 0 أحمر ، 120 أخضر ، 240 أزرق
  2 => Saturation <=> التشبع هو قيمة النسبة المئوية ؛ 0٪ تعني ظل رمادي و 100٪ لون كامل
  3 => lightness <=> الخفة هي أيضا نسبة ؛ 0٪ أسود ، 100٪ أبيض
  Hsla 
  3 => Opacity <=> الشفافية هي درجة على عجلة الألوان من 1 إلى 0
  hsla(33, 93%, 54%, 0.500);
   */
  --hue-color: 33;
  /* ========== Colors========== */
  --color-first: hsl(var(--hue-color), 93%, 54%);
  --color-first-light: hsla(var(--hue-color), 93%, 54%, 0.725);
  --color-second: hsl(var(--hue-color), 93%, 54%);
  --color-second-light: hsla(var(--hue-color), 93%, 54%, 0.725);
  --color-third: hsl(240, 60%, 17%);
  --color-third-light: hsla(240, 60%, 60%, 0.795);
  --color-body: hsl(var(--hue-color), 93%, 100%);
  --color-container: hsl(var(--hue-color), 93%, 100%);
  --color-first-header: hsl(var(--hue-color), 93%, 54%);
  --color-second-header: hsl(var(--hue-color), 93%, 100%);
  --color-third-header: hsl(var(--hue-color), 93%, 5%);
  --color-first-title: hsl(var(--hue-color), 93%, 54%);
  --color-first-title-light: hsla(var(--hue-color), 93%, 54%, 0.795);
  --color-second-title: hsl(var(--hue-color), 93%, 100%);
  --color-second-title-light: hsla(var(--hue-color), 93%, 100%, 0.795);
  --color-third-title: hsl(var(--hue-color), 93%, 5%);
  --color-third-title-light: hsla(var(--hue-color), 93%, 5%, 0.795);
  --color-first-text: hsl(var(--hue-color), 93%, 54%);
  --color-first-text-light: hsla(var(--hue-color), 25%, 15%, 0.795);
  --color-second-text: hsl(var(--hue-color), 100%, 100%);
  --color-second-text-light: hsla(var(--hue-color), 93%, 100%, 0.795);
  --color-second-text: hsl(var(--hue-color), 100%, 5%);
  --color-second-text-light: hsla(var(--hue-color), 93%, 15%, 0.795);
  --color-first-section-bg: hsl(var(--hue-color), 93%, 54%);
  --color-second-section-bg: hsl(var(--hue-color), 93%, 100%);
  --color-third-section-bg: hsl(var(--hue-color), 93%, 10%);
  --color-first-box: hsl(var(--hue-color), 93%, 54%);
  --color-second-box: hsl(var(--hue-color), 93%, 100%);
  --color-third-box: hsl(var(--hue-color), 93%, 5%);
  --color-first-button: hsl(var(--hue-color), 93%, 54%);
  --color-second-button: hsl(var(--hue-color), 93%, 100%);
  --color-third-button: hsl(var(--hue-color), 93%, 5%);
  --color-first-icon: hsl(var(--hue-color), 93%, 54%);
  --color-second-icon: hsl(var(--hue-color), 93%, 100%);
  --color-third-icon: hsl(var(--hue-color), 93%, 6%);
  --color-fourth-icon: hsl(var(--hue-color), 5%, 54%);
  --color-first-border: hsl(var(--hue-color), 93%, 54%);
  --color-second-border: hsl(var(--hue-color), 93%, 100%);
  --color-third-border: hsl(var(--hue-color), 93%, 5%);
  --color-first-overlay: hsla(var(--hue-color), 93%, 54%, 0.725);
  --color-second-overlay: hsl(var(--hue-color), 93%, 54%);
  --color-third-overlay: hsl(var(--hue-color), 93%, 5%);
  --color-scrollbar-bg: hsl(var(--hue-color), 3%, 80%);
  --color-scrollbar-thumb-bg: var(--color-first);
  --color-selection: hsl(var(--hue-color), 3%, 90%);
  --color-selection-bg: hsl(var(--hue-color), 93%, 54%);
  --color-fff: #fff;
  --color-000: #000;
  /*  ========== Font => Size, Weight And Typography==========   */
  --font-family-body: "Arimo", sans-serif;
  --font-family-title: "Raleway", sans-serif;
  --font-size-big: 2.25rem;
  --font-size-bigger: 2.5rem;
  --font-size-h1: 1.5rem;
  --font-size-h2: 1.25rem;
  --font-size-h3: 1rem;
  --font-size-normal: 0.938rem;
  --font-size-small: 0.813rem;
  --font-size-smaller: 0.75rem;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-size-button: 18px;
  /* ========== Margin========== */
  --m-0: 0;
  --m-05: 0.5rem;
  --m-1: 1rem;
  --m-105: 1.5rem;
  --m-2: 2rem;
  --m-205: 2.5rem;
  --m-3: 3rem;
  /* ========== Z Index========== */
  --z-tooltip: 10;
  --z-fixed: 100;
  /* ========== Scrollbar==========   */
  --scrollbar-width: 1rem;
  --scrollbar-border-radius: 0.25rem;
  /* ========== Hover Overlay ========== */
  --ele-transition-fast: 0.3s;
  --ele-transition-normal: 0.4s;
  --ele-transition-long: 0.9s;
  --ele-transition-longer: 1.2s;
}

@media screen and (min-width: 768px) {
  :root {
    /*  Font and typography  */
    --font-size-big: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
/* ========== Variables Dark theme==========  */
body.dark-theme {
  --color-body: hsl(var(--hue-color), 0%, 20%);
  --color-box-first-bg: hsl(var(--hue-color), 93%, 15%);
  --color-box-second-bg: hsl(var(--hue-color), 93%, 10%);
  --color-title: #f1f3f2;
  --color-text: #f1f3f2;
  --color-container: #27302c;
  --color-first-header: hsl(var(--hue-color), 20%, 20%) !important;
  --color-second-header: hsl(var(--hue-color), 93%, 100%);
  --color-third-header: hsl(var(--hue-color), 93%, 5%);
}

/*
===========================================================
Todo ================= Header ============================= 
===========================================================
*/
.header {
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header .nav {
  height: var(--header-height);
  display: block;
}
.header .nav .nav-wrapper .container .nav-inner {
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .nav .nav-wrapper .container .nav-inner .nav-log {
  color: var(--color-second-header);
  font-weight: var(--font-weight-medium);
  display: block;
  width: 15%;
}
.header .nav .nav-wrapper .container .nav-inner .nav-log img {
  max-width: 100%;
}
.header .nav .nav-wrapper .container .nav-inner .nav-log:hover {
  color: var(--color-first-header);
}
.header .nav .nav-wrapper .container .nav-inner .nav-menu {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Small Devices (Phones, Less Than 575.98px) = Bootstrap V5 Xs */
  /* Medium Devices (Phones, 576px And 677px) = Bootstrap V5 Sm */
  /* Large Devices (Phones, 678px And 767px) */
}
.header .nav .nav-wrapper .container .nav-inner .nav-menu .nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  /* Small Devices (Phones, Less Than 575.98px) = Bootstrap V5 Xs */
  /* Medium Devices (Phones, 576px And 677px) = Bootstrap V5 Sm */
  /* Large Devices (Phones, 678px And 767px) */
}
@media screen and (max-width: 575.98px) {
  .header .nav .nav-wrapper .container .nav-inner .nav-menu .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 576px) and (max-width: 677px) {
  .header .nav .nav-wrapper .container .nav-inner .nav-menu .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 678px) and (max-width: 767px) {
  .header .nav .nav-wrapper .container .nav-inner .nav-menu .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header .nav .nav-wrapper .container .nav-inner .nav-menu .nav-list .nav-item {
  position: relative;
  -webkit-transition: all var(--ele-transition-normal) linear;
  transition: all var(--ele-transition-normal) linear;
  height: 100%;
}
.header .nav .nav-wrapper .container .nav-inner .nav-menu .nav-list .nav-item .nav-link {
  color: var(--color-second-header);
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.header .nav .nav-wrapper .container .nav-inner .nav-menu .nav-list .nav-item .nav-link .text {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.header .nav .nav-wrapper .container .nav-inner .nav-menu .nav-list .nav-item .nav-link .icon {
  padding: 0 0.5rem;
  /* Small Devices (Phones, Less Than 575.98px) = Bootstrap V5 Xs */
  /* Medium Devices (Phones, 576px And 677px) = Bootstrap V5 Sm */
  /* Large Devices (Phones, 678px And 767px) */
}
@media screen and (max-width: 575.98px) {
  .header .nav .nav-wrapper .container .nav-inner .nav-menu .nav-list .nav-item .nav-link .icon {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
@media screen and (min-width: 576px) and (max-width: 677px) {
  .header .nav .nav-wrapper .container .nav-inner .nav-menu .nav-list .nav-item .nav-link .icon {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
@media screen and (min-width: 678px) and (max-width: 767px) {
  .header .nav .nav-wrapper .container .nav-inner .nav-menu .nav-list .nav-item .nav-link .icon {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.header .nav .nav-wrapper .container .nav-inner .nav-menu .nav-list .nav-item .nav-link:hover {
  color: var(--color-first-header);
}
.header .nav .nav-wrapper .container .nav-inner .nav-menu .nav-list .nav-item .nav-link.nav-link-active {
  color: var(--color-first-header);
}
.header .nav .nav-wrapper .container .nav-inner .nav-menu .nav-list .nav-item .nav-item-submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: -30px;
  top: 100%;
  width: 230px;
  z-index: 100;
  display: none;
  opacity: 0;
  visibility: hidden;
  padding: 20px 15px;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all var(--ele-transition-normal) linear;
  transition: all var(--ele-transition-normal) linear;
  /* Small Devices (Phones, Less Than 575.98px) = Bootstrap V5 Xs */
  /* Medium Devices (Phones, 576px And 677px) = Bootstrap V5 Sm */
  /* Large Devices (Phones, 678px And 767px) */
}
.header .nav .nav-wrapper .container .nav-inner .nav-menu .nav-list .nav-item .nav-item-submenu li a {
  text-decoration: none;
}
@media screen and (max-width: 575.98px) {
  .header .nav .nav-wrapper .container .nav-inner .nav-menu .nav-list .nav-item .nav-item-submenu {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
    left: 100% !important;
    top: -50% !important;
  }
}
@media screen and (min-width: 576px) and (max-width: 677px) {
  .header .nav .nav-wrapper .container .nav-inner .nav-menu .nav-list .nav-item .nav-item-submenu {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
    left: 100% !important;
    top: -50% !important;
  }
}
@media screen and (min-width: 678px) and (max-width: 767px) {
  .header .nav .nav-wrapper .container .nav-inner .nav-menu .nav-list .nav-item .nav-item-submenu {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
    left: 100% !important;
    top: -50% !important;
  }
}
.header .nav .nav-wrapper .container .nav-inner .nav-menu .nav-list .nav-item:hover .nav-item-submenu {
  position: absolute;
  left: 0px;
  top: 100%;
  width: 230px;
  z-index: 100;
  display: block;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all var(--ele-transition-normal) linear;
  transition: all var(--ele-transition-normal) linear;
}
.header .nav .nav-wrapper .container .nav-inner .nav-menu .nav-list .nav-item:hover .nav-item-submenu li a {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .header .nav .nav-wrapper .container .nav-inner .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--color-first-header);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
}
.header .nav .nav-wrapper .container .nav-inner .nav-menu.show-menu {
  top: var(--header-height);
}
@media screen and (max-width: 575.98px) {
  .header .nav .nav-wrapper .container .nav-inner .nav-menu {
    height: calc(100vh - 5rem);
  }
}
@media screen and (min-width: 576px) and (max-width: 677px) {
  .header .nav .nav-wrapper .container .nav-inner .nav-menu {
    height: calc(100vh - 5rem);
  }
}
@media screen and (min-width: 678px) and (max-width: 767px) {
  .header .nav .nav-wrapper .container .nav-inner .nav-menu {
    height: calc(100vh - 5rem);
  }
}
.header .nav .nav-wrapper .container .nav-inner .nav-search,
.header .nav .nav-wrapper .container .nav-inner .nav-form,
.header .nav .nav-wrapper .container .nav-inner .nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.header .nav .nav-wrapper .container .nav-inner .nav-search .search,
.header .nav .nav-wrapper .container .nav-inner .nav-search .button,
.header .nav .nav-wrapper .container .nav-inner .nav-form .search,
.header .nav .nav-wrapper .container .nav-inner .nav-form .button,
.header .nav .nav-wrapper .container .nav-inner .nav-button .search,
.header .nav .nav-wrapper .container .nav-inner .nav-button .button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.header .nav .nav-wrapper .container .nav-inner .nav-search .search,
.header .nav .nav-wrapper .container .nav-inner .nav-form .search,
.header .nav .nav-wrapper .container .nav-inner .nav-button .search {
  padding: 0.5rem;
  border: 0.5rem solid transparent;
}
.header .nav .nav-wrapper .container .nav-inner .nav-toggle {
  color: var(--color-second-header);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-h3);
  margin: 0 0 0 1rem;
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Medium Devices (Tablets, 768px And 991px) = Bootstrap V5 Md */
}
.header .nav .nav-wrapper .container .nav-inner .nav-toggle a {
  text-decoration: none;
}
@media screen and (min-width: 769px) {
  .header .nav .nav-wrapper .container .nav-inner .nav-toggle {
    display: none;
  }
}
.header .nav .nav-wrapper .container .nav-inner .change-theme {
  position: absolute;
  right: 1rem;
}
.header.header-scroll-action {
  /* If You Use Header To Be Fixed Element */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-fixed);
  background-color: var(--color-first-header);
}

body {
  background-color: var(--color-body);
}

section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10vw;
  font-weight: bold;
  text-transform: capitalize;
  margin: 2rem 0;
  border: 3px solid rgba(34, 34, 34, 0.3098039216);
}/*# sourceMappingURL=style.css.map */